{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>


<body style="margin: 0">
    <div id="crisp_1"></div>
    
    <!--audio id="bgMusic" loop >
        <source src={% static 'audio/homemusic.mp3' %} type="audio/mpeg">
    </audio>
    <button id= "button1" onclick="play()">播放音乐</button>
    <script>
        function play(){
            let bgSound = document.getElementById("bgMusic");
            bgSound.play();
            // if(bgSound.paused){
            // bgSound.play();    
            // }
            // else{
            //     bgSound.pause(); 
            // }
        }
        
    </script -->
    
    <script type="module">
        import {AcGame} from "{% static 'js/dist/game.js' %}";
        $(document).ready(function(){
            let ac_game = new AcGame("crisp_1");
        });
        console.log("test sentense")
    </script>
</body>
